DATABASE_URL=postgresql://fupe:fupe_dev@localhost:5433/fupe
API_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3001
# JWT_SECRET=change-me
# EMAIL_PROVIDER=console
# AUTO_VERIFY_EMAIL=true
# BOOTSTRAP_MODERATOR_EMAIL=you@example.com
