@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #fafafa;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
